.Rodape{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 10px solid black;
    background-color: rgb(175, 175, 175);
}
.rodape-left{
    padding: 10px;
    display: flex;
}

.rodape-left li{
    list-style: none;
    text-decoration: none;
}

.rodape-right{
    margin-top: 50px;
}